<div>
    <div style="margin: auto; height: -webkit-fill-available;margin-bottom:15px">
        <!--<div class="spinner-grow text-primary" role="status" style="margin: auto; width: 10rem; height: 10rem">-->
        <div class="lds-grid" style="margin: auto"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <span class="sr-only">Loading...</span>
    </div>
</div>