<li class="d-flex justify-content-between">
    <div class="left-col d-flex">
        <div class="title">
            <InputCheckbox @bind-Value='@bind' />
            <label for="checkboxCustom1">@label</label>
        </div>
    </div>
</li>

@code {
    [Parameter]
    public string label { get; set; }

    [Parameter]
    public bool bind { get; set; }
}
