@page "/creationzone"
@inject HttpClient Http
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<div class="card" style="border-radius:10px">
    <div class="card-header" style="border-radius:10px">
        <h3>Création d'une nouvelle zone</h3>
    </div>
    <EditForm Model="zone" OnValidSubmit="Creerzone">
        <div style="font-size:15px">
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="Zone">Libellé de la zone :</label>
                <InputText placeholder="Zone" class="form-control" @bind-Value="zone.zone" />
                <div style="font-size:12px">
                    <ValidationMessage For="@(() => zone.zone)" />
                </div>
                </div>
            <div class="form-group">
                <label for="Ville">Ville :</label>
                <InputText placeholder="Ville" class="form-control" @bind-Value="zone.ville" />
                <div style="font-size:12px">
                    <ValidationMessage For="@(() => zone.ville)" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Code">Code postale :</label>
                    <MyInputNumber placeholder="Code postale" class="form-control" @bind-Value="zone.codepostal" ParsingErrorMessage="Vous devez saisir le code postale" />
                    <div style="font-size:12px">
                        <ValidationMessage For="@(() => zone.codepostal)" />
                        </div>
                    </div>
                <div class="form-group text-center">
                    @if (wait)
                    {
                        <button type="submit" class="btn btn-success">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Ajouter...
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success">Ajouter</button>
                    }
                </div>
            </div>
    </EditForm>
</div>


@code {

    Zone zone = new Zone();
    private bool wait = false;

    private async Task Creerzone()
    {
        wait = true;
        
        string zoneContent = JsonConvert.SerializeObject(zone);
        var response = await Http.PostAsync("api/Zones",new StringContent(zoneContent, Encoding.UTF8, "application/json"));

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/zone");
            wait = false;
        }
        else
        {
            response.StatusCode.ToString();
        }
    }
}
