@inherits LayoutComponentBase
@using Proxima.Client.Pages


<AuthorizeView>
    <Authorized>
        <NavMenu />
        <div class="page">
            <header class="header">
                <LoginDisplay />
            </header>
            <div class="content">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>

